<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiworkflow.service.definition.mapper.AiFlowInstanceMapper">

    <resultMap id="BaseResultMap" type="com.aiworkflow.service.definition.entity.AiFlowInstance">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="flow_definition_id" property="flowDefinitionId" jdbcType="BIGINT"/>
        <result column="business_key" property="businessKey" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="current_activity_id" property="currentActivityId" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="input_data" property="inputData" jdbcType="OTHER" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="output_data" property="outputData" jdbcType="OTHER" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="context_data" property="contextData" jdbcType="OTHER" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="rollback_info" property="rollbackInfo" jdbcType="OTHER" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="error_message" property="errorMessage" jdbcType="LONGVARCHAR"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="user_id_virtual" property="userIdVirtual" jdbcType="VARCHAR"/>
        <result column="priority_virtual" property="priorityVirtual" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>